/* division
  .26 - .25
  .39 - .45
  .35 - .3
*/

body {
  --twitter-color: rgb(29, 161, 242);
  --twitter-hover: rgb(232, 245, 254);
  --twitter-border: rgb(230, 236, 240);
}

.app {
  display: flex;
  flex-direction: row;
  height: 100vh;
  max-width: 1250px;
  margin: 0 auto;
}
